<fieldset ngModelGroup="input_{{ index }}">
  <input
    type="hidden"
    name="identifier"
    id="identifier"
    [(ngModel)]="defaultProcessID"
  />

  <input
    type="hidden"
    name="sourceType"
    id="sourceType"
    [(ngModel)]="sourceType"
  />

  <!--dataType is set to 'text' per default -->
  <input type="hidden" name="dataType" id="dataType" [(ngModel)]="dataType" />


  <!--Value-->
  <div class="form-group">
    <div *ngFor="let process of processMappings">
      <div *ngIf="process.processId === selectedTool">
        <label for="inputData">
          {{ process.inputs[index].label }}
          <span style="color: red;">*</span>
        </label>
      </div>
    </div>


    <input
      style="max-width: 300px;"
      class="form-control"
      id="value"
      placeholder=""
      ngModel
      name="value"
      required
      #value="ngModel"
    />

    <div *ngFor="let process of processMappings">
      <div *ngIf="process.processId === selectedTool">
        <small class="form-text text-muted">
          {{ process.inputs[index].hint }}
        </small>
      </div>
    </div>
  </div>

    <!-- Temporal Coverage: Duration -->
    <div class="form-group">
      <label for="duration"
        >Zeitabdeckung <span style="color: gray;">optional</span>
      </label>
      <input
        style="max-width: 350px;"
        class="form-control"
        id="duration"
        placeholder="z.B. P3M"
        ngModel
        name="duration"
        #duration="ngModel"
      />
    </div>

    <!-- Temporal Coverage: Offset -->
    <div class="form-group">
      <label for="offset"
        >Startzeit
        <span style="color: gray;">optional</span></label>
      <input
        style="max-width: 350px;"
        class="form-control"
        id="offset"
        placeholder="z.B. P6M"
        ngModel
        name="offset"
      />
    </div>

</fieldset>

<!------------------This may become handy -------------------------->

<!--Datatype, when the user needs to chose between 'text and numeric'-->
<!--   <div class="form-group">
    <label
        *ngIf="!dataType.valid; else blackDataType"
        for="dataType"

        >Datentyp <span style="color: red;">*</span>
      </label>
      <ng-template #blackDataType>
        <label for="dataType">Datentyp</label>
      </ng-template>
    <select
      class="form-control"
      id="dataType"
      style="max-width: 300px;"
      ngModel
      name="dataType"
      required
      #dataType="ngModel"
    >
      <option selected></option>
      <option value="text">Text</option>
      <option value="numeric">numerisch</option>
    </select>
  </div> -->
