<div class="container" style="margin-top: 20px;">
  <br />
  <h2 align="center">Job anlegen</h2>
  <br /><br />
  <div class="row">
    <form (ngSubmit)="open(content)" #f="ngForm">
      <!-- Job name -->
      <div class="form-group">
        <label for="jobName">Jobname <span style="color: red;">*</span> </label>
        <input
          style="max-width: 350px;"
          class="form-control"
          id="jobName"
          placeholder=""
          ngModel
          name="jobName"
          required
          #jobName="ngModel"
        />
      </div>

      <!-- Coordinates -->
      <div class="form-group">
        <label for="extent"
          >Koordinaten des Observationsgebiets
          <span style="color: red;">*</span>
        </label>
        <br />
        <!--       <span
        class="help-block"
        style="color: red; font-size: small;"
        *ngIf="!extent.valid && extent.touched"
      >
      </span> -->
        <input
          style="max-width: 350px;"
          class="form-control"
          id="extent"
          placeholder=" z.B.  7.1179, 51.2407, 7.2527, 51.2884"
          ngModel
          name="extent"
          required
          #extent="ngModel"
        />
        <small id="Help" class="form-text text-muted"
          >Eingabereihenfolge: min Longitude, min Latitude, max Longitude, max
          Latitude. <br />
          Du hast keine Koordinaten? Schau zum Beispiel hier:
          <a
            href="https://www.openstreetmap.org/export#map=14/51.2659/7.1893"
            target="_blank"
          >
            OpenStreetMap </a
          >. Die Koordinaten aus OpenStreetMap sind wie folgt zu lesen: <br />
          links (min Long), mitte unten (min Lat), rechts (max Long), mitte oben
          (max Lat).
        </small>
      </div>

      <!--Processing tool-->
      <div class="form-group">
        <label for="processingTool"
          >Produkt <span style="color: red;">*</span>
        </label>
        <select
          style="max-width: 350px;"
          class="form-control"
          id="processingTool"
          [(ngModel)]="selectedProcessingTool"
          name="processingTool"
          required
          #processingTool="ngModel"
        >
          <option selected></option>
          <option
            *ngFor="let process of processMappings"
            [value]="process.processId"
            >{{ process.name }}</option
          >
        </select>
      </div>

      <!-- Data subsets ; dynamically set as depending on the choice of the Processing tool -->
      <div class="form-group">
        <div *ngFor="let process of processMappings">
          <div *ngIf="process.processId === selectedProcessingTool">
            <br />
            <p>Definiere die Eingabedaten</p>

            <div *ngFor="let input of process.inputs; let i = index">
              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="{{ input.inputType }}">
                  <ng-template ngbPanelContent>
                    <app-static-subset
                      [index]="i"
                      [defaultProcessID]="input.processInputId"
                      [selectedTool]="selectedProcessingTool"
                      *ngIf="
                        input.inputType == 'StaticSubsetDefinition';
                        else copernicus
                      "
                    ></app-static-subset>
                  </ng-template>
                  <ng-template #copernicus>
                    <app-copernicus-subset
                      [index]="i"
                      [defaultProcessID]="input.processInputId"
                      [selectedTool]="selectedProcessingTool"
                    ></app-copernicus-subset>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              <br />
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Which time period radiant from point in time of processing,  do you like to analyse -->


      <!-- Temporal Coverage: Duration -->
      <div class="form-group">
        <label for="duration"
          >Zeitabdeckung <span style="color: red;">*</span>
        </label>
        <input
          style="max-width: 350px;"
          class="form-control"
          id="duration"
          placeholder="z.B. P3M"
          ngModel
          required
          name="duration"
          #duration="ngModel"
        />
        <small id="Help" class="form-text text-muted">
          Das Format der Angabe der zu analysierenden Zeitperiode entspricht dem
          ISO 8601 Format. Wie Du die Dauer angibst findest du hier:
          <a
            href="https://en.wikipedia.org/wiki/ISO_8601#Durations"
            target="_blank"
            >ISO8601</a
          >
          <br />
          Beispiele: <br />
          P3M entspricht den letzten 3 Monaten (M für Englisch 'month') <br />
          P1Y entspricht dem letzten Jahr (Y für Englisch 'year') <br />
          P1Y14D enspricht dem letzten Jahr und 14 Tage (D für Englisch 'day')
        </small>
      </div>

      <!-- Temporal Coverage: Offset -->
      <div class="form-group">
        <label for="offset"
          >Startzeit
          <span style="color: gray;">optional</span></label>
        <input
          style="max-width: 350px;"
          class="form-control"
          id="offset"
          placeholder="z.B. P6M"
          ngModel
          name="offset"
        />
        <small id="Help" class="form-text text-muted">
          Die Startzeit wird im gleichen Format wie die Zeitabdeckung angegeben, dem
          ISO 8601 Format:
          <a
            href="https://en.wikipedia.org/wiki/ISO_8601#Durations"
            target="_blank"
            >ISO8601</a
          >
          <br />
          Dieses Feld ermöglicht Dir, die Zeitabdeckung der zu analysierenden Daten weiter zu definieren. <br>
          Setzt Du dieses Feld, dann wird die Zeitabdeckung berechnet ausgehend von der gesetzten Startzeit. Lässt Du dieses Feld leer wird die Zeitabdeckung berechnet ab dem Tag
          an dem der Job ausgeführt wird.<br/>
          Beispiel:<br>
          Du setzt in der Zeitabdeckung 'P3M', Du möchtest also ein Quartal betrachten. <br>
          Setzt Du hier zusätzlich z.B. P6M ('der letzten 6 Monate') so wird die Zeitabdeckung berechnet als 'die drei Monate <i>vor sechs Monaten</i>' oder auch 'das Quartal <i>vor sechs Monaten</i>'.
        </small>
      </div>
      <br />

      <!-- Job description-->
      <div class="form-group">
        <label for="jobDescription"
          >Jobbeschreibung <span style="color: gray;">optional</span></label
        >
        <textarea
          style="max-width: 350px;"
          class="form-control"
          id="jobDescription"
          rows="3"
          ngModel
          name="jobDescription"
        ></textarea>
      </div>

      <!-- Use case-->
      <div class="form-group">
        <label for="useCase"
          >Verwendungszweck <span style="color: gray;">optional</span>
        </label>
        <textarea
          style="max-width: 350px;"
          class="form-control"
          id="useCase"
          rows="2"
          ngModel
          name="useCase"
        ></textarea>
      </div>

      <br />
      <br />

      <!-------------------PROCESS PLANNING------------------>

      <h4 style="color: #4d80bd;">Diesen Job planen</h4>
      <p style="color: dimgray;">
        Die folgenden Angaben werden benötigt, um anzugeben wie eine Analyse
        ausgeführt werden soll: Sofort einmal erstellen, einmalig zu einem
        definierten Zeitpunkt, oder mehrfach in einem definierten Rhythmus.
        Außerdem hast Du hier die Möglichkeit, weitere Parameter einzugeben, wie
        sich das System beim Erstellen eines Jobs verhalten soll.
      </p>

      <!--Product creation planning-->
      <div class="form-group">
        <label>Ausführung <span style="color: red;">*</span></label>
        <select
          style="max-width: 350px;"
          class="form-control"
          id="planProcessing"
          name="planProcessing"
          [(ngModel)]="planProcessing"
          required
        >
          <option selected></option>
          <option>Sofort ausführen</option>
          <option>Einmalige Produkterstellung</option>
          <option>Regelmäßige Produkterstellung</option>
        </select>
      </div>

      <div *ngIf="planProcessing == 'Sofort ausführen' || planProcessing == 'Einmalige Produkterstellung' ">
        <input
          type="hidden"
          name="eventType"
          id="eventType"
          [(ngModel)]="eventType"
          />
      </div>

      <!--Cronjob-->
      <div
        class="form-group"
        *ngIf="planProcessing == 'Regelmäßige Produkterstellung'"
      >
        <label for="pattern"
          >Ausführungsmoment als Cronjob
          <span style="color: red;">*</span></label
        >
        <input
          style="max-width: 350px;"
          class="form-control"
          id="pattern"
          placeholder="z.B.   5 0 * 8 *"
          name="pattern"
          [(ngModel)]="pattern1"
          required
          pattern="^([1-9]|[1-5][0-9]|60|0|all|\*)(,[1-9]|,[1-5][0-9]|,60|,0|,\*|,all)* ([1-9]|[1][0-9]|[2][0-3]|0|all|\*)(,[1-9]|,[1][0-9]|,[2][0-3]|,0|,all)* ([1-9]|[1-2][0-9]|[3][0-1]|all|\*)(,[1-9]|,[1-2][0-9]|,[3][0-1]|,all)* ([1-9]|[1][0-2]|all|\*)(,[1-9]|,[1][0-2]|,all)* ([1-6]|0|all|\*)(,[1-6]|,0|,all)*$"
        />
        <small id="Help" class="form-text text-muted">
          Wie Du einen Cronjob angibst findest Du hier:
          <a href="https://crontab.guru/" target="_blank">crontab guru</a>
        </small>
      </div>

      <!-- Datepicker-->
      <div
        class="from-group"
        *ngIf="planProcessing == 'Einmalige Produkterstellung'"
      >
        <label for="datePicker"
          >Datum der Produkterstellung <span style="color: red;">*</span></label
        >
        <br />
        <ngb-datepicker
          id="datePicker"
          name="datePicker"
          #dp
          [(ngModel)]="datePickerModel"
          (navigate)="date = $event.next"
          required
        ></ngb-datepicker>
        <!-- <pre>datePickerModel: {{ datePickerModel | json }}</pre> -->
      </div>
      <br />

      <!-- Timepicker-->
      <div
        class="from-group"
        *ngIf="planProcessing == 'Einmalige Produkterstellung'"
      >
        <label for="timePicker"
          >Zeit der Produkterstellung <span style="color: red;">*</span></label
        >
        <ngb-timepicker
          [(ngModel)]="time"
          id="timePicker"
          name="timePicker"
          required
        ></ngb-timepicker>
        <!-- <hr />
        <pre>Selected time: {{ time | json }}</pre> -->
      </div>
      <br />

      <!------- Retry settings ------>
      <!-- Retry rate-->
      <div class="form-group">
        <label
          >Wiederholungsrate <span style="color: gray;">optional</span></label
        >
        <input
          class="form-control"
          style="max-width: 350px;"
          type="number"
          min="0"
          max="10"
          oninput="validity.valid||(value='');"
          id="retryRate"
          ngModel
          name="retryRate"
          [(ngModel)]="retryRate"
        />
        <small id="Help" class="form-text text-muted">
          Gib hier an, wie oft der Versuch einen Job zu erstellen wiederholt
          werden soll, falls ein Versuch fehlschlägt. <br>
          Defaultwert ist 3, Limit ist 10.
        </small>
      </div>

      <!-- Retry delay-->
      <div class="form-group">
        <label
          >Zeitabstand zwischen den wiederholten Versuchen (in ms)
          <span style="color: gray;">optional</span></label
        >
        <input
          class="form-control"
          style="max-width: 350px;"
          type="number"
          min="0"
          max="12000"
          oninput="validity.valid||(value='');"
          id="retryDelay"
          [(ngModel)]="retryDelay"
          name="retryDelay"
        />
        <small id="Help" class="form-text text-muted">
          Gib hier den Zeitabstand an, der zwischen zwei Versuchen, einen Job zu
          erstellen, liegen soll. <br />
          Der Defaultwert liegt bei 500ms. Limit ist hier 12000ms, entsprechend 12s.
        </small>
      </div>
      <br />
      <br />

      <!-- <pre>{{ f.value | json }}</pre> -->
      <!--Error Handling-->
      <div class="alert alert-danger" *ngIf="error">
        <h5>Ein Fehler ist aufgetreten</h5>
        <p>Status: {{ errorStatus }}</p>
        <p>
          Hier kannst Du nachsehen, was dieser Code bedeutet:
          <a href="https://de.ryte.com/wiki/HTTP_Status_Code"
            >Codeerklärungen</a
          >
        </p>
      </div>

      <!--Validation button, when clicked,the modal opens-->
      <button
        class="btn btn-lg btn-outline-primary"
        (click)="setJob()"
        [disabled]="!f.valid"
      >
        <!--[disabled]="!f.valid" -->
        Job checken und abschicken
      </button>

      <!-------------------Modal----------------------->

      <ng-template #content let-modal>
        <div class="modal-header">
          <!--Modal: Cross button-->
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Modal: Body-->
        <div class="modal-body">
          <p>
            <span
              ><h2>{{ jobForPost.name }}</h2></span
            >
          </p>

          <!--Produkttyp-->
          <p>
            <b>Produkt: </b> <br />
            {{ jobForPost.productCollection }}
          </p>

          <!--Coordinates-->
          <p>
            <b>Koordinaten</b> <br />
            {{ jobForPost.areaOfInterest.extent }}
          </p>

          <!--Jobbeschreibung-->
          <p *ngIf="jobForPost.description">
            <b>Beschreibung:</b> <br />
            {{ jobForPost.description }}
          </p>

          <!--Verwendungszweck-->
          <p *ngIf="jobForPost.useCase">
            <b>Verwendungszweck: </b> <br />
            {{ jobForPost.useCase }}
          </p>

          <!--Period-->
          <p>
            <b>Zeitliche Abdeckung: </b> <br />
            {{ jobForPost.temporalCoverage.duration }}
          </p>

          <!--Startzeit-->
          <p *ngIf="jobForPost.temporalCoverage.offset">
            <b>Startzeit: </b> <br />
            {{ jobForPost.temporalCoverage.offset }}
          </p>

          <!--Process planning-->
          <p>
            <b> Analyseausführung:</b> <br />
            {{ f.controls["planProcessing"].value }}
          </p>

          <!--Cron Pattern-->
          <p *ngIf="jobForPost.execution.pattern">
            <b>Ausführungsmoment: </b> <br />
            {{ jobForPost.execution.pattern }}
          </p>
          <!--Single Event DateTime-->
          <p *ngIf="jobForPost.execution.startAt">
            <b>Ausführungsmoment: </b> <br />
            {{ jobForPost.execution.startAt | date: "medium" }}
          </p>
          <br />
          <hr />

          <!--Eingabedaten-->
          <h5>Eingabedaten:</h5>
          <div *ngFor="let input of jobForPost.inputs; let i = index">
            <h5 style="background-color: #e3ecf6; color: #4d80bd;">
              {{ input.sourceType }}
            </h5>


            <!--Static Subset-->
            <div *ngIf="input.sourceType == 'StaticSubsetDefinition'">
              <p>
                Eingabewert (Koordinaten oder URL): <br />
                {{ input.value }}
              </p>
              <div *ngIf="input.temporalCoverage">
                <p *ngIf="input.temporalCoverage.duration">
                  <b>Zeitabdeckung</b> (optional) : <br />
                  {{ input.temporalCoverage.duration }}
                </p>
                <p *ngIf="input.temporalCoverage.offset">
                  <b>Startzeit</b> (optional) : <br />
                  {{ input.temporalCoverage.offset }}
                </p>
              </div>

            </div>

            <!--Copernicus-->
            <div *ngIf="input.sourceType == 'CopernicusSubsetDefinition'">
            <!--Satellit-->
              <p>
                <b>Satellit: </b> <br />
                {{ input.satellite }}
              </p>
              <div *ngIf="input.satellite == 'sentinel-2'">
                <p>
                  <b>maximale Wolkenbedeckung (%):</b> <br />
                  {{ input.maximumCloudCoverage }}
                </p>
              </div>
              <div *ngIf="input.satellite == 'sentinel-1'">
                <p *ngIf="input.sensorMode">
                  <b>Sensor Mode </b> (optional): <br />
                  {{ input.sensorMode }}
                </p>
              </div>
              <div *ngIf="input.temporalCoverage">
                <p *ngIf="input.temporalCoverage.duration">
                  <b>Zeitabdeckung</b> (optional) : <br />
                  {{ input.temporalCoverage.duration }}
                </p>
                <p *ngIf="input.temporalCoverage.offset">
                  <b>Startzeit</b> (optional) : <br />
                  {{ input.temporalCoverage.offset }}
                </p>
              </div>

              <p *ngIf="input.productType">
                <b>Produkttyp</b> (optional) : <br />
                {{ input.productType }}
              </p>

              <br />
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <!--Modal: Submission button-->
          <button
            type="button submit"
            class="btn btn-primary"
            style="
              border-color: #e3ecf6;
              color: #e3ecf6;
              background-color: #4d80bd;
            "
            (click)="submitThisJob(); modal.close('Save click')"
          >
            Abschicken
          </button>
          <!--Modal: Cancel button-->
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Cancel
          </button>
        </div>
      </ng-template>
    </form>
  </div>
  <br />
</div>

<!-- ---------------------------------------------------------------------------------- -->

<!-- Map -->
<!-- <div class="form-group">
        <label for="leafletmap"
        > ... selektiere das Observationsgebiet</label>
        <app-leaflet-map></app-leaflet-map>
      </div> -->

<!--
  <div *ngIf="showForm === true">
      <p>
        Jobname
        <span
          ><h2>{{ jobForPost.name }}</h2></span
        >
      </p>
      <p>
        Koordinaten <br />
        {{ jobForPost.areaOfInterest.extent }}
      </p>
      <p>
        Produkt: <br />
        {{ jobForPost.productCollection }}
      </p>
      <p>
        Satellit <br />
        {{ receivedSatellite }}
      </p>
      <p>
        maximale Wolkenbedeckung <br />
        {{ receivedCloudCoverage }}
      </p>
      <p>
        Jobbeschreibung: <br />
        {{ f.value.jobDescription }}
      </p>
  </div> -->

<!--Show form object as json -->
<!-- <pre>{{ f.value | json }}</pre> -->
